version: '3.7'

services:
  web:      #apimobile
    build:
      context: ./apimobile
      dockerfile: Dockerfile.prod
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --reload
    volumes:
      - static_volume:/home/apimobile/web/staticfiles
      - media_volume:/home/apimobile/web/mediafiles
    expose:
      - "8000"
    env_file:
      - ./.env.prod
    depends_on:
      - db

  apiman:   #apimantenedor
    build: ./apimantenedor
    # command: python manage.py runserver 127.0.0.1:5000 //para acceder desde afuera (uso de postman)
    command: python manage.py runserver 0.0.0.0:5000
    volumes:
      - ./apimantenedor/:/usr/src/apimantenedor/
    ports:
      - 5000:5000
    env_file:
      - ./.env.prod
    depends_on:
      - db

  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

  mantenedor:
    container_name: mantenedor
    restart: always
    build: 
      context: ./mantenedor
      dockerfile: Dockerfile.prod
    volumes:
      - ./mantenedor/:/src/mantenedor
      - node_modules:/src/mantenedor/node_modules
    expose: 
      - "3000"
    command: npm run dev
    

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/apimobile/web/staticfiles
      - media_volume:/home/apimobile/web/mediafiles
    ports:
      - "1337:8000"
      - "80:3000" 
      - "443:443"
    depends_on:
      - web
      - mantenedor

volumes:
  postgres_data:
  static_volume:
  media_volume:
  node_modules:
