version: '3.7'

services:
  web:      #apimobile
    build:
      context: ./apimobile
      dockerfile: Dockerfile.prod
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --reload
    volumes:
      - static_volume:/home/apimobile/web/staticfiles
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  apiman:   #apimantenedor
    build: ./apimantenedor
    command: python manage.py runserver 0.0.0.0:5000
    volumes:
      - ./apimobile/:/usr/src/apimantenedor/
    ports:
      - 5000:5000
    env_file:
      - ./.env.dev
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/apimobile/web/staticfiles
    ports:
      - "1337:8000"
      - "443:443"
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
