version: 2

workflow:
  build_deploy:
    jobs:
      - deploy-qa
      - deploy-master

jobs:
  deploy-qa:
    docker:
      - image: circleci/python:3.7.6
    branches:
      only:
        - develop
    working_directory: ~/controlCamionesApi
    environment:
      PYTHONDONTWRITEBYTECODE: 1
      PYTHONUNBUFFERED: 1
    steps:
      - checkout
      - run: ssh -oStrictHostKeyChecking=no -v ohl@157.245.237.33 "/home/ohl/controlCamionesApi/.circleci/deploy_app_qa.sh"

  deploy-master:
    docker:
      - image: circleci/python:3.7.6
    branches:
      only:
        - master
    working_directory: ~/controlCamionesApi
    environment:
      PYTHONDONTWRITEBYTECODE: 1
      PYTHONUNBUFFERED: 1
    steps:
      - checkout
      - run: ssh -oStrictHostKeyChecking=no -v ohl@157.245.237.33 "/home/ohl/controlCamionesApi/.circleci/deploy_app_prod.sh"



